<% src_lang_code, src_hash_content = @src_content.first %>
<% src_plain_content = plain_hash src_hash_content %>
<% src_lang = "#{Translator.lang_name(src_lang_code)} (#{src_lang_code}) #{Translator.can_autotranslate?(src_lang_code) ? '*' : ''}"%>

<%= form_tag translators_process_file_path, id: "transl-form", class: "form-inline" do %>
<div class="row">
<div class="col-md-11 col-md-offset-1">
  <%= hidden_field_tag 'src_lang_code', src_lang_code, id: "src-lang-code" %>
  <%= text_field_tag 'src_file_name', @src_file_name, :readonly => true, class: "form-control" %>
  <%= text_field_tag 'src_lang', src_lang, id: "src-lang", :readonly => true, class: "form-control" %>
  <%= submit_tag ">", id: "submitTranslBtn", class: "auto-transl-all btn btn-success", title: "Translate all" %>

  <%= select_tag 'trgt_lang', options_for_select(locales_list_with_mark(src_lang_code)), id: "trgt-lang", class: "form-control" %>
  <%= text_field_tag 'trgt_file_name', "", :placeholder => "_locale_.yml", id: "trgt-file-name", class: "form-control" %>
  <%= submit_tag "Save file", id: "submitSaveBtn", class: "btn btn-default" %>

</div>
</div>
    <% src_plain_content.each_with_index do |(key, val), i| %>
<div class="row">
 <div class="col-md-3">
          <%= "   "*val[:level] %>
          <%= val[:key] %>
 </div>
 <div class="col-md-4">
          <%= text_area_tag( "src_array[#{i}]", value = val[:value], id: "src-array-#{i}", class: "form-control input-block-level", :readonly => true) if !val[:is_group] %>
 </div>
 <div class="col-md-5">
          <%= content_tag(:span, ">", class: "auto-transl label label-success", id: "auto-transl-#{i}", title: "Translate this" ) if !val[:is_group] %>
          <%= text_area_tag( "trgt_hash"+val[:path], value = "", id: "trgt-array-#{i}", class: "form-control input-inline-level") if !val[:is_group] %>
 </div>
</div>
    <% end %>
<% end %>
